
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/logs
allure-results/
*.tmp
*.cache
*.pid
*.seed
*.pid.lock
*.log
*.gz
*.zip
*.tar   
example.*
/debug
